---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=5csbvdbRezkbNDCAcS1LMOvaT9tpqcxt&location=notareal,location,atall
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 29 Sep 2021 14:29:37 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"notareal,location,atall"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=5csbvdbRezkbNDCAcS1LMOvaT9tpqcxt&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=-412470794"}]}]}'
  recorded_at: Wed, 29 Sep 2021 14:29:37 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=9cce38001043568898b3ad0ffbd9050f&lat=39.390897&lon=-99.066067
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1632925777,"sunrise":1632918638,"sunset":1632961331,"temp":291.66,"feels_like":291.39,"pressure":1009,"humidity":70,"dew_point":286.09,"uvi":0.43,"clouds":63,"visibility":10000,"wind_speed":3.96,"wind_deg":148,"wind_gust":6.85,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1632925800,"precipitation":0},{"dt":1632925860,"precipitation":0},{"dt":1632925920,"precipitation":0},{"dt":1632925980,"precipitation":0},{"dt":1632926040,"precipitation":0},{"dt":1632926100,"precipitation":0},{"dt":1632926160,"precipitation":0},{"dt":1632926220,"precipitation":0},{"dt":1632926280,"precipitation":0},{"dt":1632926340,"precipitation":0},{"dt":1632926400,"precipitation":0},{"dt":1632926460,"precipitation":0},{"dt":1632926520,"precipitation":0},{"dt":1632926580,"precipitation":0},{"dt":1632926640,"precipitati[...]
[...]
