---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=5ojovXl3F_UNvjQf6oErA53Rozng5MEiM6G6m7S_K20&page=1&per_page=1&query=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=5ojovXl3F_UNvjQf6oErA53Rozng5MEiM6G6m7S_K20&page=2894&per_page=1&query=denver>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=5ojovXl3F_UNvjQf6oErA53Rozng5MEiM6G6m7S_K20&page=2&per_page=1&query=denver>;
        rel="next"
      X-Total:
      - '2894'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"6e44721a0c9676ab92de912cca3c7488"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":2894,"total_pages":2894,"results":[{"id":"r82eni3j0bI","created_at":"2020-09-06T12:05:36-04:00","updated_at":"2021-09-28T16:19:02-04:00","promoted_at":null,"width":4862,"height":3646,"color":"#0c59c0","blur_hash":"LhC*9MtlR*V@KUazoekCIwWYaKa#","description":"Downtown
        Denver and Capitol Building","alt_description":"white and gold dome building","urls":{"raw":"https://images.unsplash.com/photo-1599408169542-620fc453382c?ixid=MnwyNjM5NDF8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjMyODgwOTI3\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1599408169542-620fc453382c?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNjM5NDF8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjMyODgwOTI3\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1599408169542-620fc453382c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNjM5NDF8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjMyODgwOTI3\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1599408169542-620fc453382c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNjM5NDF8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjMyODgwOTI3\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1599408169542-620fc453382c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNjM5NDF8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjMyODgwOTI3\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/r82eni3j0bI","html":"https://unsplash.com/photos/r82eni3j0bI","download":"https://unsplash.com/photos/r82eni3j0bI/download","download_location":"https://api.unsplash.com/photos/r82eni3j0bI/download?ixid=MnwyNjM5NDF8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjMyODgwOTI3"},"categories":[],"likes":21,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"iReUjmhpLcw","updated_at":"2021-09-28T20:27:35-04:00","username":"andrewcoop","name":"Andrew
        Coop","first_name":"Andrew","last_name":"Coop","twitter_username":null,"portfolio_url":null,"bio":"I''m
        an amateur who likes to shoot just about everything that looks interesting.  I
        want to get more experience with portraiture, and will shoot personal photos
        for anyone for free.  Where possible, attribution is appreciated please and
        thank you.","location":"Aurora, CO, USA","links":{"self":"https://api.unsplash.com/users/andrewcoop","html":"https://unsplash.com/@andrewcoop","photos":"https://api.unsplash.com/users/andrewcoop/photos","likes":"https://api.unsplash.com/users/andrewcoop/likes","portfolio":"https://api.unsplash.com/users/andrewcoop/portfolio","following":"https://api.unsplash.com/users/andrewcoop/following","followers":"https://api.unsplash.com/users/andrewcoop/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1623106766393-2f16aecfe7b9image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1623106766393-2f16aecfe7b9image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1623106766393-2f16aecfe7b9image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":null,"total_collections":0,"total_likes":36,"total_photos":253,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":null,"portfolio_url":null,"twitter_username":null,"paypal_email":null}},"tags":[{"type":"search","title":"denver"},{"type":"search","title":"co"},{"type":"search","title":"usa"}]}]}'
  recorded_at: Wed, 29 Sep 2021 14:22:58 GMT
recorded_with: VCR 6.0.0
