---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=9cce38001043568898b3ad0ffbd9050f&lat=37.5858662&lon=-85.67330523
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.5859,"lon":-85.6733,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1632925373,"sunrise":1632915396,"sunset":1632958146,"temp":294.12,"feels_like":294.13,"pressure":1018,"humidity":71,"dew_point":288.67,"uvi":1.28,"clouds":0,"visibility":10000,"wind_speed":1.24,"wind_deg":327,"wind_gust":1.75,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1632925380,"precipitation":0},{"dt":1632925440,"precipitation":0},{"dt":1632925500,"precipitation":0},{"dt":1632925560,"precipitation":0},{"dt":1632925620,"precipitation":0},{"dt":1632925680,"precipitation":0},{"dt":1632925740,"precipitation":0},{"dt":1632925800,"precipitation":0},{"dt":1632925860,"precipitation":0},{"dt":1632925920,"precipitation":0},{"dt":1632925980,"precipitation":0},{"dt":1632926040,"precipitation":0},{"dt":1632926100,"precipitation":0},{"dt":1632926160,"precipitation":0},{"dt":1632926220,"precipitati[...]
