---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=9cce38001043568898b3ad0ffbd9050f&lat=37.5858662&lon=-85.67330523
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.5859,"lon":-85.6733,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1632688451,"sunrise":1632656043,"sunset":1632699224,"temp":296.4,"feels_like":296.06,"pressure":1018,"humidity":49,"dew_point":285.1,"uvi":1.97,"clouds":39,"visibility":10000,"wind_speed":3.17,"wind_deg":222,"wind_gust":3.47,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1632688500,"precipitation":0},{"dt":1632688560,"precipitation":0},{"dt":1632688620,"precipitation":0},{"dt":1632688680,"precipitation":0},{"dt":1632688740,"precipitation":0},{"dt":1632688800,"precipitation":0},{"dt":1632688860,"precipitation":0},{"dt":1632688920,"precipitation":0},{"dt":1632688980,"precipitation":0},{"dt":1632689040,"precipitation":0},{"dt":1632689100,"precipitation":0},{"dt":1632689160,"precipitation":0},{"dt":1632689220,"precipitation":0},{"dt":1632689280,"precipitation":0},{"dt":1632689340,"precipitati[...]
