---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=5csbvdbRezkbNDCAcS1LMOvaT9tpqcxt&location=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 29 Sep 2021 02:02:05 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=5csbvdbRezkbNDCAcS1LMOvaT9tpqcxt&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=177386173"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=5csbvdbRezkbNDCAcS1LMOvaT9tpqcxt&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1594411282"}]}]}'
  recorded_at: Wed, 29 Sep 2021 02:02:05 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=9cce38001043568898b3ad0ffbd9050f&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632880925,"sunrise":1632833607,"sunset":1632876443,"temp":291.34,"feels_like":290.36,"pressure":1001,"humidity":44,"dew_point":278.9,"uvi":0,"clouds":57,"visibility":10000,"wind_speed":0.45,"wind_deg":189,"wind_gust":1.79,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"minutely":[{"dt":1632880980,"precipitation":0},{"dt":1632881040,"precipitation":0},{"dt":1632881100,"precipitation":0},{"dt":1632881160,"precipitation":0},{"dt":1632881220,"precipitation":0},{"dt":1632881280,"precipitation":0},{"dt":1632881340,"precipitation":0},{"dt":1632881400,"precipitation":0},{"dt":1632881460,"precipitation":0},{"dt":1632881520,"precipitation":0},{"dt":1632881580,"precipitation":0},{"dt":1632881640,"precipitation":0},{"dt":1632881700,"precipitation":0},{"dt":1632881760,"precipitation":0},{"dt":1632881820,"precipitati[...]
[...]
