---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=9cce38001043568898b3ad0ffbd9050f&lat=37.5858662&lon=-85.67330523
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.5859,"lon":-85.6733,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1632712951,"sunrise":1632656043,"sunset":1632699224,"temp":285.93,"feels_like":285.17,"pressure":1018,"humidity":73,"dew_point":281.22,"uvi":0,"clouds":7,"visibility":10000,"wind_speed":2.79,"wind_deg":194,"wind_gust":3.34,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1632712980,"precipitation":0},{"dt":1632713040,"precipitation":0},{"dt":1632713100,"precipitation":0},{"dt":1632713160,"precipitation":0},{"dt":1632713220,"precipitation":0},{"dt":1632713280,"precipitation":0},{"dt":1632713340,"precipitation":0},{"dt":1632713400,"precipitation":0},{"dt":1632713460,"precipitation":0},{"dt":1632713520,"precipitation":0},{"dt":1632713580,"precipitation":0},{"dt":1632713640,"precipitation":0},{"dt":1632713700,"precipitation":0},{"dt":1632713760,"precipitation":0},{"dt":1632713820,"precipitati[...]
