---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=9cce38001043568898b3ad0ffbd9050f&lat=37.5858662&lon=-85.67330523
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.5859,"lon":-85.6733,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1632752034,"sunrise":1632742494,"sunset":1632785531,"temp":291.4,"feels_like":291.16,"pressure":1018,"humidity":72,"dew_point":286.27,"uvi":1.32,"clouds":11,"visibility":10000,"wind_speed":5.28,"wind_deg":210,"wind_gust":10.68,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1632752040,"precipitation":0},{"dt":1632752100,"precipitation":0},{"dt":1632752160,"precipitation":0},{"dt":1632752220,"precipitation":0},{"dt":1632752280,"precipitation":0},{"dt":1632752340,"precipitation":0},{"dt":1632752400,"precipitation":0},{"dt":1632752460,"precipitation":0},{"dt":1632752520,"precipitation":0},{"dt":1632752580,"precipitation":0},{"dt":1632752640,"precipitation":0},{"dt":1632752700,"precipitation":0},{"dt":1632752760,"precipitation":0},{"dt":1632752820,"precipitation":0},{"dt":1632752880,"precipitati[...]
