---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=5csbvdbRezkbNDCAcS1LMOvaT9tpqcxt&location=Boulder,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 29 Sep 2021 14:29:35 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Boulder,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Boulder","adminArea5Type":"City","adminArea4":"Boulder
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039983","unknownInput":"","type":"s","latLng":{"lat":40.015831,"lng":-105.27927},"displayLatLng":{"lat":40.015831,"lng":-105.27927},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=5csbvdbRezkbNDCAcS1LMOvaT9tpqcxt&type=map&size=225,160&locations=40.015831,-105.27927|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1670871148"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Boulder
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282931994","unknownInput":"","type":"s","latLng":{"lat":40.015831,"lng":-105.27927},"displayLatLng":{"lat":40.015831,"lng":-105.27927},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=5csbvdbRezkbNDCAcS1LMOvaT9tpqcxt&type=map&size=225,160&locations=40.015831,-105.27927|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1010853395"}]}]}'
  recorded_at: Wed, 29 Sep 2021 14:29:35 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=9cce38001043568898b3ad0ffbd9050f&lat=40.015831&lon=-105.27927
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.0158,"lon":-105.2793,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632925775,"sunrise":1632920139,"sunset":1632962811,"temp":288.25,"feels_like":287.36,"pressure":1012,"humidity":59,"dew_point":280.31,"uvi":0.2,"clouds":90,"visibility":10000,"wind_speed":0.89,"wind_deg":360,"wind_gust":3.13,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1632925800,"precipitation":0},{"dt":1632925860,"precipitation":0},{"dt":1632925920,"precipitation":0},{"dt":1632925980,"precipitation":0},{"dt":1632926040,"precipitation":0},{"dt":1632926100,"precipitation":0},{"dt":1632926160,"precipitation":0},{"dt":1632926220,"precipitation":0},{"dt":1632926280,"precipitation":0},{"dt":1632926340,"precipitation":0},{"dt":1632926400,"precipitation":0},{"dt":1632926460,"precipitation":0},{"dt":1632926520,"precipitation":0},{"dt":1632926580,"precipitation":0},{"dt":1632926640,"precipitati[...]
[...]
