---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=9cce38001043568898b3ad0ffbd9050f&lat=37.5858662&lon=-85.67330523
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.5859,"lon":-85.6733,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1632880923,"sunrise":1632828944,"sunset":1632871838,"temp":292.91,"feels_like":293.21,"pressure":1015,"humidity":87,"dew_point":290.69,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.78,"wind_deg":219,"wind_gust":4.64,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1632880980,"precipitation":0},{"dt":1632881040,"precipitation":0},{"dt":1632881100,"precipitation":0},{"dt":1632881160,"precipitation":0},{"dt":1632881220,"precipitation":0},{"dt":1632881280,"precipitation":0},{"dt":1632881340,"precipitation":0},{"dt":1632881400,"precipitation":0},{"dt":1632881460,"precipitation":0},{"dt":1632881520,"precipitation":0},{"dt":1632881580,"precipitation":0},{"dt":1632881640,"precipitation":0},{"dt":1632881700,"precipitation":0},{"dt":1632881760,"precipitation":0},{"dt":1632881820,"precipitati[...]
