---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=9cce38001043568898b3ad0ffbd9050f&lat=37.5858662&lon=-85.67330523
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":37.5859,"lon":-85.6733,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1632599121,"sunrise":1632569592,"sunset":1632612917,"temp":293.6,"feels_like":293.5,"pressure":1018,"humidity":69,"dew_point":287.72,"uvi":3.35,"clouds":97,"visibility":10000,"wind_speed":3.02,"wind_deg":286,"wind_gust":5.07,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1632599160,"precipitation":0},{"dt":1632599220,"precipitation":0},{"dt":1632599280,"precipitation":0},{"dt":1632599340,"precipitation":0},{"dt":1632599400,"precipitation":0},{"dt":1632599460,"precipitation":0},{"dt":1632599520,"precipitation":0},{"dt":1632599580,"precipitation":0},{"dt":1632599640,"precipitation":0},{"dt":1632599700,"precipitation":0},{"dt":1632599760,"precipitation":0},{"dt":1632599820,"precipitation":0},{"dt":1632599880,"precipitation":0},{"dt":1632599940,"precipitation":0},{"dt":1632600000,"precipitati[...]
