---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=5csbvdbRezkbNDCAcS1LMOvaT9tpqcxt&location=Telluride,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 29 Sep 2021 02:02:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Telluride,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Telluride","adminArea5Type":"City","adminArea4":"San
        Miguel County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039402","unknownInput":"","type":"s","latLng":{"lat":37.937412,"lng":-107.811757},"displayLatLng":{"lat":37.937412,"lng":-107.811757},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=5csbvdbRezkbNDCAcS1LMOvaT9tpqcxt&type=map&size=225,160&locations=37.937412,-107.811757|marker-sm-50318A-1&scalebar=true&zoom=12&rand=479591273"}]}]}'
  recorded_at: Wed, 29 Sep 2021 02:02:07 GMT
recorded_with: VCR 6.0.0
